@model ClothesShop.ViewModels.ClothingItem.IndexClothingItemViewModel

@{ ViewData["Title"] = "Index";
    var defaultClothingItem = Model.ClothingItems.FirstOrDefault(); }



@if (User.IsInRole(ClothesShop.Areas.Identity.Roles.Admin))
{
    <p>
        <a asp-action="Create"  class="btn btn-outline-dark m-1">Create</a>
    </p>}
<form method="get" class="form-inline">
    <label>Clothing item name:</label>
    <input name="selectedName" value="@Model.FilterClothingItemViewModel.SelectedName" class="form-control col-2 m-1" />

    <input type="hidden" name="isFromFilter" value="true" />
    <input type="submit" value="Filter" class="btn btn-outline-dark col-3 m-1" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.Manufacturer)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortState="@Model.SortClothingItemViewModel.NameSort"
                   asp-route-selectedName="@Model.FilterClothingItemViewModel.SelectedName">
                    @Html.DisplayNameFor(model => defaultClothingItem.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.IsMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultClothingItem.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClothingItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole(ClothesShop.Areas.Identity.Roles.User))
                    {
                        <form asp-action="AddToBasket">
                            <input type="number" name="count" min="1"/>
                            <input type="hidden" name="id" asp-for="@item.Id" />
                            <input type="submit" value="Buy" class="btn btn-outline-dark m-1"/>
                        </form>
                    }
                    @if (User.IsInRole(ClothesShop.Areas.Identity.Roles.Admin))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark m-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark m-1">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark m-1">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex align-items-center justify-content-center">

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="1"
           asp-route-sortState="@Model.SortClothingItemViewModel.Current"
           asp-route-selectedName="@Model.FilterClothingItemViewModel.SelectedName"
           class="btn btn-outline-dark m-1">
            First page
        </a>

        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-sortState="@Model.SortClothingItemViewModel.Current"
           asp-route-selectedName="@Model.FilterClothingItemViewModel.SelectedName"
           class="btn btn-outline-dark m-1">
            Previous page
        </a>}
    <a class="btn btn-outline-dark m-1">
        @Model.PageViewModel.PageNumber
    </a>
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-sortState="@Model.SortClothingItemViewModel.Current"
           asp-route-selectedName="@Model.FilterClothingItemViewModel.SelectedName"
           class="btn btn-outline-dark m-1">
            Next page
        </a>

        <a asp-action="Index"
           asp-route-page="@Model.PageViewModel.TotalPages"
           asp-route-sortState="@Model.SortClothingItemViewModel.Current"
           asp-route-selectedName="@Model.FilterClothingItemViewModel.SelectedName"
           class="btn btn-outline-dark m-1">
            Last page (@Model.PageViewModel.TotalPages)
        </a>}
</div>